<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <a href="http://localhost:3000/cupcakes" >
    <img src="background/cupcakes.jpg">
  </a>
  <a href="http://localhost:3000/cakes " >
    <img src="background/cakes.jpg">
  </a>
  <a href="http://localhost:3000/macarons" >
    <img src="background/macarons.jpg">
  </a>
  <a href="http://localhost:3000/cookies" >
    <img src="background/cookies.jpg">
  </a>

</a>
</body>
</html>
